
@model ProdutoModelVW
@{ ViewData["Title"] = "CadastroProduto";
    var LTCategorias = (List<SelectListItem>)(@ViewData["LTCategorias"]);
    var LTCor = (List<SelectListItem>)(@ViewData["LTCor"]);
    var LTFoto = (List<SelectListItem>)(@ViewData["LTFoto"]);
    var LTGenero = (List<SelectListItem>)(@ViewData["LTGenero"]);
    var LTTam = (List<SelectListItem>)(@ViewData["LTTam"]);

    Layout = "_Layout_dashboard";

}




<h1>Cadastro de Produto</h1>

<form asp-action="Salvar" asp-controller="Produto">
    <div class="form-group">
        <label asp-for="tb_produto.Nome"></label>
        <input type="text" class="form-control" asp-for="tb_produto.Nome">

        <label asp-for="tb_produto.Descricao"></label>
        <input type="text" class="form-control" asp-for="tb_produto.Descricao">

        <label asp-for="tb_produto.Valor"></label>
        <input type="text" class="form-control" asp-for="tb_produto.Valor">

        <label asp-for="tb_produto.Peso"></label>
        <input type="text" class="form-control" asp-for="tb_produto.Peso">

        <!--E a Data Cadastro?-->

        <input type="hidden" asp-for="tb_produto.CodigoProduto">
        <input type="hidden" asp-for="JsonLTCat">
        <input type="hidden" asp-for="JsonLTCor">
        <input type="hidden" asp-for="JsonLTGen">
        <input type="hidden" asp-for="JsonLTTam">
        <input type="hidden" asp-for="JsonLTFoto">

    </div>

    <div class="row">
        <div class="form-group col-md-4">
            <label asp-for="Foto"></label>
            <button type="submit" class="btn btn-primary">Escolher Foto</button><br />
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-4">
            <label asp-for="Cor"></label>
            <select asp-for="Cor" asp-items="LTCor" class="form-control"></select>
        </div>
        <div class="form-group col-md-4">
            <button type="button" class="btn btn-success" style="margin-top:30px;" onclick="AddCat();">Adicionar Cor</button>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-4">
            <label asp-for="Genero"></label>
            <select asp-for="Genero" asp-items="LTGenero" class="form-control"></select>
        </div>
        <div class="form-group col-md-4">
            <button type="button" class="btn btn-success" style="margin-top:30px;" onclick="AddCat();">Adicionar Gênero</button>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-4">
            <label asp-for="Tamanho"></label>
            <select asp-for="Tamanho" asp-items="LTTam" class="form-control"></select>
        </div>
        <div class="form-group col-md-4">
            <button type="button" class="btn btn-success" style="margin-top:30px;" onclick="AddCat();">Adicionar Tamanho</button>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-4">
            <label for="txt_cat_descricao">Categoria</label>
            <select asp-for="Categoria" asp-items="LTCategorias" class="form-control" id="txt_cat_descricao"></select>
        </div>
        <div class="form-group col-md-4">
            <button type="button" class="btn btn-success" style="margin-top:30px;" onclick="AddCat();">Adicionar Categoria</button>
        </div>
    </div>

    @Html.Raw(ViewData["Valida"])

    <button type="submit" class="btn btn-primary">Registrar</button>

</form>

<script>
    var MtzCat;

    if ($("#JsonLTCat").val() != "") {
        MtzCat = JSON.parse($("#JsonLTCat").val());
    }
    else {
        MtzCat = [];
    }

    $(document).ready(function () {
        GetTabela();
    });


    function AddCat() {

        MtzCat.push(
            {
                Descricao: $("#txt_bnf_descricao").val(),
            }
        );
        GetTabela();
        $("#txt_cat_descricao").val("");
        $("#txt_cat_descricao").focus();
    }


    function GetTabela() {
        $("#JsonLTCat").val(JSON.stringify(MtzCat));
        $("#tb_cat > tbody ").html("");
        var sHtml = "";
        for (var x = 0; x <= MtzCat.length - 1; x++) {
            sHtml = "<tr>";
            sHtml += "<td>" + MtzCat[x].Descricao + "</td>";
            sHtml += "<td><a href='##' onclick='ExcluirCat(" + x + ")'>Excluir</a></td>";
            sHtml += "</tr>";
            $("#tb_Cat > tbody ").append(sHtml);
        }
    }

    function ExcluirCat(x) {
        delete MtzCat[x];
        MtzCat.splice(x, 1);
        GetTabela();
    }


</script>






<!--


<script>
    var itens = new Object();
    Itens.Categoria = new Array();

    var CodigoProduto = document.getElementById("sltCategoria");

    function AdicionarCategoria() {
        Itens.Categoria.push({
            "CodigoProduto": CodigoProduto,
            "DescricaoCategoria": CodigoProduto.options[CodigoProduto.selectedIndex].text;
        });
    }

</script>
    -->
